# Security comes first
#Header set x-version "0.00"

#AuthType Basic
#AuthName "Prelive site. Nothing to see here!"
#AuthUserFile "/dataXX/virtXXXXX/domeenid/www.domain.tld/.htpasswd"

#<RequireAny>
#	Require ip 217.146.66.6 # Zone VPN
#	Require valid-user
#</RequireAny>


<IfModule mod_headers.c>

    # Not forcing subdomains until confirmed to be safe by client
    # Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set Strict-Transport-Security "max-age=31536000"

    # WordPress admin may use iFrames, DENY not advised
    Header always set X-Frame-Options "SAMEORIGIN"

    # Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://www.google.com https://www.gstatic.com https://www.googletagmanager.com https://www.google-analytics.com; style-src 'self' 'unsafe-inline'; img-src https: data:; font-src 'self' data:; connect-src 'self' https://www.googleapis.com/youtube/; frame-ancestors 'none';"
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src https: data:; font-src 'self' data:; connect-src 'self'; frame-ancestors 'none';"

    # Removed after CS report, replaced with CSP
    #Header always set X-XSS-Protection "1; mode=block"
    Header always set X-Content-Type-Options nosniff

    # Header always set Referrer-Policy strict-origin-when-cross-origin

	# Header always set Access-Control-Allow-Origin "expr=https://%{ENV:SELF}"

# 	If we need to un-publish actual file change times for some reason
#	Header unset Last-modified
#	Header unset ETAG

#	Header set Expect-CT "max-age=0, report-uri=\"https://report.example.com/r/d/ct/example.com\"" env=HTTPS
</IfModule>

# Protect misc files from direct access

<FilesMatch "(?i:xmlrpc|wp-config|wp-comments-post|readme\.|license\.|package\.|changelog\.)">
	Require all denied
</FilesMatch>

# Protect wp-content from direct code execution (uploads, plugin/theme functionality)

<LocationMatch "/wp-content/">
    Options -ExecCGI
    SetHandler none
    SetHandler default-handler
    RemoveType .php .php3 .phtml .inc
    RemoveHandler .php .php3 .phtml .inc

    <IfModule mod_php5.c>
        php_flag engine off
    </IfModule>

    <IfModule mod_php7.c>
        php_flag engine off
    </IfModule>
</LocationMatch>

<LocationMatch "/wp-content/.*\.(?i:php|php3|phtml|inc)($|\.)">
    Require all denied
</LocationMatch>

# We prefer our domains without www
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1%{REQUEST_URI} [R=301,NC,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# Cache control
<IfModule mod_headers.c>
    # WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf|svg|woff|woff2)$">
        Header set Cache-Control "public, max-age=604800"
    </FilesMatch>
    # YEAR
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "public, max-age=31536000,immutable"
    </FilesMatch>
</IfModule>
# END Cache control

<IfModule mod_mime.c>
    AddType font/woff2 .woff2
</IfModule>

<IfModule mod_expires.c>
# Enable expirations
    ExpiresActive On
# Default directive
    ExpiresDefault                          "access plus 1 day"
# HTML
    ExpiresByType text/html			        "access plus 0 seconds"
# Data
    ExpiresByType text/xml                  "access plus 0 seconds"
    ExpiresByType application/xml           "access plus 0 seconds"
    ExpiresByType application/json          "access plus 0 seconds"
# Favicon
	ExpiresByType image/x-icon 		        "access plus 1 year"
# Images
	ExpiresByType image/gif 		        "access plus 1 days"
	ExpiresByType image/png 		        "access plus 1 days"
	ExpiresByType image/jpg 		        "access plus 1 days"
	ExpiresByType image/jpeg 		        "access plus 1 days"
# CSS
	ExpiresByType text/css 			        "access plus 1 week"
# Javascript
	ExpiresByType application/javascript    "access plus 1 year"
# fonts
	ExpiresByType font/woff2 			    "access plus 1 year"
</IfModule>


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
